        section.booking_area {
            font-family: 'Montserrat', sans-serif;
            background-size: cover;
            background-position: center;
        }

        section.booking_area>div.container-fluid>div.row>div>div.booking-form {
            margin: 0px auto;
        }

        section.booking_area>div.container-fluid {
            margin: 0px auto;
            padding: 30px 20px;
        }
        div.container.article-form {
            max-width: 100%;
        }
        div.article-table.table-responsive>table.table {
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }

        @media screen and (max-width: 767px) {
            div.article-table.table-responsive {
                border: none;
            }
        }
        .rhs{
        	position:relative; 
        	top:-15px; 
        }
        .rhs>a{
        	color:white;
        	font-family: 'Lato', sans-serif;
        	font-size:1.1em;
        }
        .front_header{
        	background-color: rgb(12, 13, 13);
        }
        .front_footer{
        	background-color: rgb(12, 13, 13);
        }
        .footer-grid>ul>li>a{
        	color: darkgoldenrod;
        }
        .footer-grid1-right>a{
        	color: darkgoldenrod;
        }
        .rhs>a:hover{
        	color:#02a388 !important;
        }
        